i {
  animation: fluido 30s ease-in-out infinite;
  background: linear-gradient(-45deg, #10fe09, #335eff, #23a6d5, #23d5ab);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fluido 30s ease-in-out infinite;
}
@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.carousel-item {
  data-interval="5";
} 
footer {
  background-color: whitesmoke;
}
nav {
background-color: whitesmoke;
}
.nav-item a:link a:visited{
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: normal;
  font-size: 3em;
  color: #23a6d5;}
.nav-item a:hover{ 
  color: #23d5ab;}

h1{font-size: 3em;color:#23a6d5}
