 header, footer i {
  animation: fluido 30s ease-in-out infinite;
  background: linear-gradient(-45deg, #10fe09, #335eff, #23a6d5, #23d5ab);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: fluido 30s ease-in-out infinite;
  text-align: center;
}
@keyframes fluido {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.carousel-item {
  data-interval="5";
} 
body {font-family: 'Exo 2', sans-serif; font-weight: 200;}

footer {
  background-color: whitesmoke;
  border-top: 1px solid #ccc;
}

#nav-footer{ background: white; border:none} 
/*Este estilo es para que el nav del footer no tome los colores del nav superior*/

/*!personalizacion de la navegación--------------------------------------*/
nav {
  background: linear-gradient(180deg,#B4EDF5, #17A2B8);
  border-top: 1px solid #17A2B8;
}
.nav-item a{
  font-family: 'Exo 2', sans-serif; font-weight: 500;
  display:block; 
  text-align: center; 
  color: #0e3788; 
  }/* los links se mostrarán en bloques. texto centrado y con un leve grosor*/

.nav-item a:link a:visited{
  color: #23a6d5;}/* los links en su estilo normal y visitados tendran este color*/
.nav-item a:hover{ 
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);} 
  /* el link on-mouse-over sera texto blanco y con una leve transparencia en el fondo*/
/*personalizacion de la navegación - fin --------------------------------------*/

h1{font-size: 3em;color:#23a6d5;
  font-style: italic; font-weight: bold;}

header {
  background-color: whitesmoke;
}
aside{ background-color: #8F9FAD;}
h3{padding: 0; color: #073DAB; font-style: italic; font-weight: bold;}
h2{ color:whitesmoke}
.text1 {
  font-family: "BentonBook",sans-serif;
  font-size: 20px;
  color: #121212;
  letter-spacing: 0;
  line-height: 28px;
}
.texto2 {
  font-family: "BentonBook",sans-serif;
  font-size: 16px;
  color: #121212;
  letter-spacing: 0;
  line-height: 28px;
}
/* .mavic {
  height: 700px;
  width: auto;
} */

/*personalizacion del .card-body de las Apps*/
#apps .card-body {padding: 7px; }
#apps .card-body {font-size:18px; color: white; font-weight: 600; text-align: center; word-wrap: normal ; }
#apps .card-body .card-text{font-size: 12px; line-height: 15px; font-weight: normal; color: #BFC8D0;}
/*personalizacion del .card-body de las Noticias*/
#noticia .card-body {min-height:18rem; word-wrap: break-word ;}
.alert {
  background: linear-gradient(180deg,#B4EDF5, #17A2B8);
  border-top: 1px solid #17A2B8;
}

.quehacemos {
  background-color: whitesmoke;
}
.team {
  background-color: whitesmoke;
}
.texto1 {
  background-color: whitesmoke;
}

#contacto{background-image: url(/Logos/bg-email.jpg); background-repeat: no-repeat; background-position-x: right;}

.login {
  color: #23a6d5;
}

#banners img{ width: 100%; height: auto;}